<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title || "Tilig" %></title>
    <link rel="icon" href="https://app.tilig.com/favicon.ico">

    <style>
      body {
        display: flex;
        align-items: center;
        height: 100vh;
        background-color: #ffffff;
        font-family: 'Stolzl', "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 1em;
      }

      a {
        color: #000000;
        text-decoration: none;
      }

      main {
        max-width: 32em;
        margin: auto;
        text-align: center;
      }

      .primary-button {
        align-items: center;
        background: #695CFF;
        border-radius: 8px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
        color: #FFFFFF;
        display: flex;
        flex-direction: row;
        font-size: 1.5em;
        padding: 1em;
        text-decoration: none;
      }

      p {
        font-size: 2em;
        line-height: 1.5em;
      }

      img {
        width: 7em;
      }

      .container {
        background: #F7F7F9;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1em;
        padding: 2em;
      }

      .item {
        overflow-wrap: anywhere;
      }

    </style>
  </head>
  <body>

    <%= yield %>

  </body>
</html>
